	</main>

	<footer id="footer" class="footer section_offset">
		<div class="footer-container">
			<div class="info">
				<div class="footer-logo">
					<img class="footer-logo-img" src="/img/afroLogo.svg" alt="">
				</div>
				<div class="address">
					<p>Po Box Address</p>
					<p>Providence </p>
					<p>(555)-555-5555</p>
				</div>
			</div>
			<div class="social-media">
				<img src="" alt="">
			</div>
		</div>
	</footer>

	<script src="/js/main.js"></script>
</body>

</html>