<!DOCTYPE html>
<html lang="en">

<head>
	<title>ohSoSubtleFragrances</title>

	<meta charset="utf-8">
	<meta name="author" content="github.com/zakandaiev">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:keywords" content="">
	<meta property="og:image" content="">

	<link rel="canonical" href="">

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="image_src" href="">

	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<!-- header -->
	<header id="header" class="header section_offset">
		<!-- header container -->
		<div class="container">
			<!-- nav container -->
			<div class="nav">
				<!-- ul container --->
				<div class="ul-container">
					<ul>
						<li>Masculine</li>
						<li>Feminine</li>
						<li>Unisex</li>
						<li>New</li>
					</ul>
				</div>
				<!-- input search bar -->
				<div class="input-container">
					<input type="submit" value="" name="" id="">
				</div>
				<!-- logo container --->
				<div class="logo-container">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</header>

	<main class="container page-content">