.footer {
	display: block;
	width: 100%;
	padding: 1rem 0 6rem 0;
	color: #fff;
	background-color: #D9B6A3;

	.footer-container {
		max-width: 1368px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		.info {
			font-family: "franklin-gothic-urw", sans-serif;
			font-size: 1.7rem;
			letter-spacing: .1rem;

			.footer-logo {
				text-align: center;
				padding: 1rem;

				.subtle{
					font-family: "roboto-slab", serif;
					font-size: 1.3rem;
					margin: 0;
				}

				.parfum{
					font-family: "montserrat", sans-serif;
					font-size: .9rem;
				}

				img {
					width: 4rem;
					height: 4rem;
					margin: 2rem 0 0 0;
				}
			}
		}

		.social-media {
			margin: 5rem 0;
		}
	}
}