.header {
	display: block;
	width: 100%;
	height: 200px;
	background-color: #E0DDD7;

	.logo-container {
		margin: 0 auto;

		img {
			width: 4rem;
			height: 4rem;
		}
	}

	.nav {
		max-width: 1368px;
		margin: 0 auto;
		padding: 3rem;
		text-align: center;

		.link-container {
			font-family: franklin-gothic-atf, sans-serif;
			@include breakpoint-down(small) {
				visibility: hidden;
				position: absolute;
				background-color: #fff;
				height: 100vh;
				width: 100%;
				top: 0;
				left: 0rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

			}

			&.visible {
				visibility: visible;
			}

			a {
				z-index: 3;
				font-size: 3rem;
				padding: 1.5rem;
				color: #000;
			}

			@include breakpoint(medium) {
				visibility: visible;
				height: auto;
				width: auto;

				a {
					font-size: 1.7rem;
					color: #000000;
					margin-right: 1rem;
				}

			}


		}

		.ham-container {
			z-index: 3;
			width: 36px;
			height: 15px;
			position: absolute;
			top: 4rem;
			right: 2rem;
			cursor: pointer;

			@include breakpoint(medium) {
				display: none;
			}


			&.ham-container.active .bar:first-child {
				transform: translateY(7px) rotate(45deg);
				background-color: #000;
			}

			&.ham-container.active .bar:last-child {
				transform: translateY(-7px) rotate(-45deg);
				background-color: #000;
			}

			.bar {
				width: 100%;
				height: 2px;
				background-color: #000000;
				position: absolute;
				transition: transform 0.3s;
			}

			.bar:first-child {
				top: 0;
			}

			.bar:last-child {
				bottom: 0;
			}


		}

		.input-container {
			text-align: right;
			display: flex;
			align-items: center;
			position: absolute;
			left: 2rem;
			top: 4rem;
			justify-content: right;

			@include breakpoint(large) {
				right: 5rem;
				top: 4rem;
			}

			a {
				color: #000000;
				font-size: 1.8rem;

				&.black{
					color: #000;
				}

				@include breakpoint(medium) {
					font-size: 1.5rem;
				}
			}
		}
	}
}