// home section / landing page

.home-section {
    height: 100vh;
    background-color: #FFDABF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 3.2rem;
        color: #fff;
    }

    a {
        background-color: #fff;
        display: inline-block;
        padding: 2rem 4rem;
        font-weight: bold;
        font-size: 1.6rem;
        color: #FFDABF;
        border: none;
    }
}

// top product section


.top-products {


    .sub-heading {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.9;
        letter-spacing: .1rem;

        @include breakpoint(medium) {
            font-size: 2rem;
        }
    }

    .button {
        background-color:#DF7C6D;
        display: inline-block;
        padding: 2rem 4rem;
        font-weight: bold;
        font-size: 1.6rem;
        color: #Fff;
        border: none;
        margin: 10rem 0;
    }


}