// home section / landing page

.home-section {
    background-color: #E0DDD7;
    display: flex;
    flex-direction: column;
    max-width: 1368px;
    justify-content: space-between;
    margin: 0 auto;

    text-align: left;

    @include breakpoint(medium) {
        flex-direction: row;
    }

    .heading-container {
        width: 300px;
        order: 1;

        @include breakpoint(medium) {
            order: 0;
        }
    }

    .home-img-container {
        order: 0;

        @include breakpoint(medium) {
            order: 1;
        }
    }

    .home-btn-container {
        order: 2;
    }

    .button {
        font-weight: 600;
        text-align: center;
        font-family: "franklin-gothic-urw", sans-serif;
        background-color: transparent;
        display: block;
        padding: 7px 20px;
        border: solid 2px #000000;
        font-size: 2.5rem;
        color: #000000;
        margin: 4rem 0;
        width: 20rem;
        border-radius: 100px;

        span {
            display: block;
        }
    }



    a {
        background-color: #DF7C6D;
        display: inline-block;
        padding: 2rem 4rem;
        font-weight: bold;
        font-size: 1.6rem;
        color: #FFDABF;
        border: none;
    }
}

// top product section


.top-products {
    max-width: 1368px;
    margin: 0 auto;


    .fav-oil-header {
        padding: 0 0 10rem 0;
    }




    .sub-heading {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.9;
        letter-spacing: .1rem;

        @include breakpoint(medium) {
            font-size: 2rem;
        }
    }

    .image-container {
        display: flex;
        justify-content: space-between;

        @include breakpoint-down(medium) {
            flex-wrap: wrap;
        }

        .image {
            flex: 1;
            margin: 5px;
            /* Adjust margin spacing between images */

            @include breakpoint-down(medium) {
                flex: 0 0 calc(50% - 10px);
                /* 2 columns with spacing */
            }

            @include breakpoint-down(small) {
                flex: 0 0 100%;
                /* 1 column, full width */
            }

            img {
                width: 100%;
                height: auto;
            }
        }

    }

    .fav-btn-container {
        display: flex;
        justify-content: center;

        .button {
            font-weight: 600;
            text-align: center;
            font-family: "franklin-gothic-urw", sans-serif;
            background-color: transparent;
            display: block;
            padding: 18px 20px;
            border: solid 2px #000000;
            font-size: 2.5rem;
            color: #000000;
            margin: 4rem 0;
            width: 33rem;
            border-radius: 100px;

            span {
                display: block;
            }
        }

    }
}

.subscribe-section {
    background-color: #2A3419;
    color: #fff;


    h2 {
        color: #fff;
        padding: 1rem 0;
    }

    p {
        font-family: "franklin-gothic-urw", sans-serif;
        font-size: 2.4rem;
    }

    .subscribe-container {
        max-width: 1368px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: space-between;
        }

        .iframe-form {
            form {
                #mc_embed_signup_scroll {
                    .indicates-required {
                        color: #fff;
                        font-size: 1.7rem;
                        font-family: "franklin-gothic-urw", sans-serif;
                    }

                    .label {
                        color: #fff;
                        text-align: left;
                        font-size: 1.7rem;
                        font-weight: 300;
                        font-family: "franklin-gothic-urw", sans-serif;
                    }
                }
            }
        }

    }

    .termsAndCon {

        p {
            font-size: 1.5rem;
            margin: 0;
            padding: 1rem;
        }

        .terms {
            font-size: 1.5rem;
            font-family: "franklin-gothic-urw", sans-serif;
            color: #fff;
        }
    }

    #mc_embed_signup {
        form {
            margin: 0;
            color: #fff;
        }

        .button {
            font-weight: 600;
            text-align: center;
            font-family: "franklin-gothic-urw", sans-serif;
            background-color: transparent;
            display: block;
            padding: 28px 20px;
            border: solid 2px #fff;
            font-size: 2.5rem;
            color: #fff;
            line-height: 1px;
            margin: 2rem 0;
            width: 33rem;
            border-radius: 100px;
        }
    }
}